body {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/backfont.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, ul {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.navbar .logo {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo img {
  width: 50px;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  }

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color:#3DB67E;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex: 1;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 25px;
  margin-bottom: 50px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 2px #3DB67E;
}

footer {
  background-color: #222;
  padding: 10px 20px;
  text-align: start;
}

footer h2 {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.pict {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.pict a {
  align-items: end;
  margin-right: 50px;
}

.pict > a > img {
  height: auto;
  width: 25px;
  margin-right: 5px;
}

.social-icon {
  display: flex;
}

.social-name {
  font-size: 18px;
  color: #fff;
}

.social-name:hover {
  text-shadow: 5px 5px 2px #3DB67E;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
      max-width: 100vw;
      margin: 0;
      padding: 10px;
  }

  .nav-links {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;
      padding-left: 0px;
  }

  .nav-links li {
      margin-left: 0;
      margin-bottom: 10px;
  }

  .navbar .logo {
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100vw;
    margin: 0;
    padding: 10px;
  }

  footer h2 {
    margin: 0 0 10px 0;
  }

  .pict {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .pict > a > img {
    height: auto;
    width: 15px;
    margin-right: 5px;
  }

  .pict a {
    margin-bottom: 5px;
  }

  .social-name {
    font-size: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: auto;
    padding: 0;
    max-width: 80vw;
  }

  main h1{
    font-size: 50px;
    margin-bottom: 20px;
  }

  main p{
    font-size: 12px;
  }
}